@import "mixins.scss";
@mixin widgets_brXtended_WeekPlanningItem_base {
	@include elemAutoWidth(80);
	@include elemAutoHeight(30);
	@include elemMinWidth(0);
	@include elemMaxWidth(0);
	@include elemMinHeight(0);
	@include elemMaxHeight(0);
	border-width: 0px;
	@include border-radius(0px);
&:not(.disabled):not(.checked) {
	background-color: #2c2c2c;
}
&:not(.disabled):not(.checked) button {
	background-color: #2c2c2c;
}
&:not(.disabled):not(.checked) {
	@include backGroundGradient('');
}
&:not(.disabled):not(.checked) {
	border-color: #C8C8C8;
}
	border-style: none;
&:before {
	border-style: none;
}
&:after {
	border-style: none;
}
&:not(.disabled):not(.checked) {
	color: #fff;
}
&:not(.disabled):not(.checked) button {
	color: #fff;
}
	opacity: 1;
span {
	font-family: Arial;
}
	font-size: 14px;
	@include font-weight-bold(false);
	@include font-style-italic(false);
span {
	@include text-decoration-underline(false);
}
	margin: 0px;
&.checked {
	background-color: #DBDBDB;
}
&.checked button {
	background-color: #DBDBDB;
}
&.checked {
	color: #000000;
}
&.checked button {
	color: #000000;
}
&.checked {
	border-color: #FD7B01;
}
&.checked button {
	border-color: #FD7B01;
}

}

.widgets_brXtended_WeekPlanningItem_style_default {
@include widgets_brXtended_WeekPlanningItem_base 
}
