@import "mixins.scss";
@mixin widgets_brXtended_DropDownBox_base {
	&.DropDownBoxView {
		@include elemWidth(100);
	}
	&.DropDownBoxView {
		@include elemHeight(30);
	}
	&.DropDownBoxView {
		@include elemMinWidth(0);
	}
	&.DropDownBoxView {
		@include elemMaxWidth(0);
	}
	&.DropDownBoxView {
		@include elemMinHeight(0);
	}
	&.DropDownBoxView {
		@include elemMaxHeight(0);
	}
	&.DropDownBoxView {
		@include border-radius(0px);
	}
	& > .ItemView {
		@include border-radius(0px);
	}
	& > .ListView.Container {
		@include border-radius(0px);
	}
	opacity: 1;
	opacity: 1;
	&.DropDownBoxView {
		margin: 0px;
	}
	&.DropDownBoxView {
		@include box-shadow(none);
	}
	& > .ItemView:not(.itemSelected):not(.itemDisabled) {
		background-color: #DBDBDB;
	}
	& > .ItemView.itemSelected:not(.itemDisabled) {
		background-color: #DBDBDB;
	}
	& > .ItemView.itemDisabled {
		background-color: #F1F1F1;
	}
	& > .ItemView:not(.itemSelected):not(.itemDisabled) {
		@include backGroundGradient('');
	}
	& > .ItemView.itemSelected:not(.itemDisabled) {
		@include backGroundGradient('');
	}
	& > .ItemView.itemDisabled {
		@include backGroundGradient('');
	}
	& > .ItemView {
		border-style: solid;
	}
	& > .ItemView:not(.itemSelected) {
		border-width: 2px;
	}
	& > .ItemView.itemSelected {
		border-width: 2px;
	}
	& > .ItemView:not(.itemSelected):not(.itemDisabled) {
		border-color: #5B7C70;
	}
	& > .ListView.Container {
		border-color: #5B7C70;
	}
	& > .ItemView.itemSelected:not(.itemDisabled) {
		border-color: #FD7B01;
	}
	& > .ItemView.itemDisabled {
		border-color: #FFFFFF #C8C8C8 #C8C8C8 #FFFFFF;
	}
	& > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
		color: #000000;
	}
	& > .ItemView.itemSelected:not(.itemDisabled) > .TextView.textSelected {
		color: #000000;
	}
	& > .ItemView.itemDisabled > .TextView {
		color: #989898;
	}
	& > .ItemView {
		padding: 0 10px;
	}
	& > .ItemView > .ImageView.ImageIndicator {
		@include display(false, 'flex');
	}
	& > .ItemView:not(.itemSelected):not(.itemDisabled) > .ImageView.ImageIndicator svg {
		fill: #000000;
	}
	& > .ItemView.itemSelected:not(.itemDisabled) > .ImageView.ImageIndicator svg {
		fill: #000000;
	}
	& > .ItemView.itemDisabled > .ImageView.ImageIndicator svg {
		fill: #989898;
	}
	& > .ListView.Container > .ListView.List > .ItemView {
		padding: 0 15px;
	}
	& > .ListView.Container > .ListView.List > .ItemView:not(.itemSelected) {
		background-color: #FFFFFF;
	}
	& > .ListView.Container > .ListView.List > .ItemView:not(.itemSelected) {
		@include backGroundGradient('');
	}
	& > .ListView.Container > .ListView.List > .ItemView.itemSelected {
		background-color: #ff8800;
	}
	& > .ListView.Container > .ListView.List > .ItemView.itemSelected {
		@include backGroundGradient('');
	}
	& > .ListView.Container > .ListView.List > .ItemView {
		border-bottom-color: #000;
	}
	& > .ListView.Container {
		border-width: 2px;
	}
	& > .ListView.Container > .ListView.List > .ItemView > .TextView:not(.textSelected) {
		color: #000000;
	}
	& > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected {
		color: #ffffff;
	}
	& .TextView {
		@include text-alignment(center);
	}
	& .TextView {
		@include text-alignment(center);
	}
	& .TextView {
		font-size: 12px;
	}
	& .TextView {
		font-size: 12px;
	}
	& .TextView {
		font-family: Arial;
	}
	& .TextView {
		font-family: Arial;
	}
	& .TextView {
		@include font-weight-bold(true);
	}
	& .TextView {
		@include font-weight-bold(true);
	}
	& .TextView {
		@include font-style-italic(false);
	}
	& .TextView {
		@include font-style-italic(false);
	}

}

.widgets_brXtended_DropDownBox_style_default {
@include widgets_brXtended_DropDownBox_base
}
